/*Smartphones  */



/* 
@media (min-width: 481px) and (max-width: 1280px){

}
 */



/*Desktop  */
.container {
    max-width: 100%;
    max-height: auto;
}

#menu {
    background-color: black;
    color: whitesmoke;
    padding: 5px;
    display: flex;
    justify-content: left;
    margin-top: 2%;
}

#menu div {
    margin: 5px;
    margin-left: 5%;
}
#banner {
    margin-top: 2%;
}


#banner img {
    height: auto;
    width: 100%;
}

.site-content {
    display: flex;
    max-width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    align-items: stretch; 
}

.content img {
    width: 200px;
    height: 150px;
}

.content {
    margin: 10px;
    display: flex;
    align-items: center;
   flex-direction: column;
}

span {
    margin-top: 10px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    #menu {
        flex-direction: column;
        align-self: center;
    }
    #banner {
        display: none;
    }
    .site-content {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .content img {
        width: 100%;
        height: auto;
    }
    .content span {
        width: 100%;
        text-align: center;
    }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 600px) {
    .content img {
        width: 100%;
        height: auto;
    }
    .content span {
        width: 100%;
        text-align: center;
    }
}
